.features {
  display: flex;
  align-items: center;
  padding: 15px 0;
  width: 100%;
}

.featureImage {
  height: 640px;
  width: 300px;
  margin-left: 15px;
}

.featureRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}