.text-shadow {
  text-shadow: 0 2px 40px rgb(0 0 0 / 20%)
}

.text-shadow-light {
  text-shadow: 0 5px 20px rgb(255 255 255 / 70%)
}

.app-img {
  position: absolute;
  z-index: 1;
  width: 1419px;
  max-width: none;
  transform: translate(-41%, 37px);
}

.app-img-container {
  min-height: 412px;
}

@media (min-width: 768px) { 
  .app-img {
    transform: translate(-38%, 27px);
  }
}